<web-app xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="4.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>ru.mail.romanov1234567890987.controller.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/dispatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthorisationServlet</servlet-name>
    <servlet-class>ru.mail.romanov1234567890987.controller.AuthorisationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorisationServlet</servlet-name>
    <url-pattern>/authorisation</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthorisationFilter</filter-name>
    <filter-class>ru.mail.romanov1234567890987.controller.filter.AuthorisationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorisationFilter</filter-name>
    <url-pattern>/authorisationF</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>ru.mail.romanov1234567890987.controller.listener.Listener</listener-class>
  </listener>
</web-app>
